*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    display: flexbox;
}
#container{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items:center;
    justify-content: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
}
header{
    width: 100%;
    height: 100%;
}
.top{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    color: white;
}
nav{

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding : 10px;
}
/*Pas fini !*/
.sub{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
   /*width: 50%;*/
    padding-bottom: 10px;
}

article{
    
    display: flex;
    flex-flow: column;
    align-items: center;
    padding : 160px
}

article h2{
    font-size : 60px;
}

article p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size : 30px;
}

figure{
    padding : 50px;
    min-width : 100vh;
}
.illu img{
    display: flex;
    width : 100%;
}
/*Pas fini !*/

.subtitle{
    text-align: center;
    background-color: white;
    padding: 50px;
    width: 100%;
}
.Subscribe{
    /*display : flex;
    justify-content: center;
    align-items: center;*/
    font-size: 25px;
    /*position: absolute;*/
    left:1000px;
    /*transition: 0.5s;*/
}