@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    display: flexbox;
}
#container{
    display: flex;
    min-height: 100vh;
    align-items:center;
    justify-content: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
}
header{
    width: 100%;
    height: 100%;
}
.top{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    color: white;
}
.top h1{
    font-size: 40px;;
}
nav{
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-transform: uppercase;
}

ul{
    display: flex;
    list-style: none;
}

ul a{
    color: white;
    padding : 10px;
    text-decoration: none;
}

/*Pas fini !*/
.sub{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.text{
    text-wrap: balance;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding : 100px;
    width: 75vw;
    height: 100vh;

}

article h2{
    font-size : 60px;
    line-height :70px
}

article p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size : 20px;
}

.pic {
    width:100vw;
    padding : 100px;
}

form {
    padding: 7px;
    background-color: white;
    border-radius: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.Subscribe{
    border-radius: 50px;
    border-style: none;
    padding: 10px;
    background-color: rgb(58, 142, 221);
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
}
#email{
    border-style: none;
    padding-right: 150px;
    padding-left: 10px;
    border-radius: 30px;
    outline-style: none;
}

.Subscribe:hover{
    filter: saturate(150%);
}

.subtitle{
    text-align: center;
    background-color: white;
    padding: 50px;
    width: 100%;
    font-size: 25px;

}
.subtitle p{
    color:rgb(153, 153, 153);
}

#allCard {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: white;
    
}
.card h1{
    padding-bottom: 10px;
}
.card{
    margin: 20px;
    padding-top: 90px;
    border-radius: 15px;
    text-align: center;
    width: 800px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 2s;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    color: white;
}

.card:hover{
    transform: translateY(-5%);
}

.card-header{
    font-size: 50px;
}

#wrap{
    display: flex;
    min-height: 100vh;
    align-items:center;
    justify-content: center;
}
.mainTitle{
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}
.allStat{
    padding-top: 100px;
    display :flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}
.mainTitle p{
    color:rgb(153, 153, 153);
}
.stat-team{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.allTeam{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.team{
    display: flex;
    flex-flow: column;
    margin: 10px;
    transition: 2s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team p{
    color:rgb(153, 153, 153);
}

.team-header{
    overflow: hidden;
    position: relative;
    margin:10px;
    width: 250px;
    height:250px;
    border-radius:100%;


}
.team-header img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s;

}

.team-header:hover img{
    filter: none;
    transform: scale(1.1);
}

.team-network{
    display: flex;
    font-size: 20px;
    position: absolute;
    top:-5px;
    left: -50px;
    transition: 1s;
    flex-direction: column;

}

.team-header:hover .team-network{
    left:30px;
    top:50px
}

.team-network i{
    
    padding: 5px;
    margin:5px;
    background-color: white;
    border-radius: 100%;
}

